#header {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../imgs/banner-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#header a {
  color: #ffffff;
  text-decoration: none;
}

#header .logo {
  font-size: 1.6rem;
  color: #fff;
  transition: 0.2s ease-in-out;
}

#header .logo:hover {
  color: #ffa600;
}

#topnav-menu {
  display: flex;
  padding: 10px;
}

#topnav-menu a {
  width: 25%;
  text-align: center;
}

#topnav-menu ul {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}

#topnav-menu ul a {
  font-weight: 600;
  text-decoration: none;
  padding: 4px;
  transition: 0.2s ease-in-out;
}

#topnav-menu ul a:hover {
  color: #ffa600;
}

#header .content {
  text-align: center;
  padding: 30vh;
}

#header .content h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 10px;
}


#header .content p {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}