
.main .about-us {
  background: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)), url(../imgs/main-container-1-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}

.main .about-us .image {
  background: url(../imgs/img-quem-somos.jpeg);
  display: flex;
  max-width: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-radius: 10px;
  margin: 10px;
}

.main .about-us .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  text-align: left;
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
}

.main .about-us .text h2 {
  color: #ff6918;
  font-size: 36px;
  text-transform: uppercase;
}

.main .about-us .text p {
  color: #555;
  line-height: 22px;
}

.main .pizza-menu {
  background: linear-gradient(rgba(19, 19, 19, 0.85),rgba(32, 32, 32, 0.85)), url(../imgs/bg-main-menu-pizza.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}

.main .pizza-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}

.main .pizza-menu .text {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.main .pizza-menu .text h2 {
  color: #ff6918;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
}


.main .pizza-menu .text p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 4px;
}


.main .pizza-menu .pizza-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.main .pizza-menu .pizza-list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
  gap: 20px;
}

.main .pizza-menu .pizza-list ul li {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
}

.main .pizza-menu .pizza-list ul li p {
  font-size: 1rem;
  width: 100%;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 2px;
}

.main .pizza-menu .pizza-list ul li .dot-line {
  width: 100%;
  border-bottom: 4px dotted #fff;
}

.main .pizza-menu .pizza-list ul li .money-value {
  display: flex;
  font-size: 1rem;
  color: #ff6918;
  font-weight: 600;
  width: 100%;
}

.main .pizza-menu .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: #ffffff;
  padding: 40px;
}

.main .pizza-menu .contact p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.main .pizza-menu .contact span {
  color: #ff762d;
}

.main .pizza-menu .contact button {
  background-color: #ff6918;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  height: 100px;
  width: 100px;
  margin-top: 40px;
  padding: 10px 10px;
  border: none;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.main .pizza-menu .contact button .fa-brands {
  color: #ffffff;
  font-size: 74px;
}

.main .pizza-menu .contact button:hover {
  background-color: #43E960;
  height: 102px;
  width: 102px;
}

.main .container-map {
  background: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)), url(../imgs/main-container-1-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #555555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 4vw;
  text-align: center;
}

.main .container-map .map h2 {
  color: #ff6918;
  align-items: center;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 12px ;
}

.main .container-map .map p {
  text-align: center;
  margin-bottom: 60px;
}

.main .container-map .map iframe {
  height: 400px;
  width: 90vw;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #65656567;
}

.main .container-map .adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 20px 0;
}

.main .container-map .adress .social-media {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}

.main .container-map .adress .social-media i {
  color: #2a2a2a;
  font-size: 36px;
  transition: 0.2s ease-in-out;
}

.main .container-map .adress .social-media a:hover i {
  color: #ff6918;
  font-size: 38px;
}

.main .container-map .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.main .container-map .contact p {
  color: #2a2a2a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.main .container-map .contact span {
  color: #ff762d;
}

.main .container-map .contact button {
  background-color: #ff6918;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  height: 100px;
  width: 100px;
  margin-top: 40px;
  padding: 10px 10px;
  border: none;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.main .container-map .contact button .fa-brands {
  color: #ffffff;
  font-size: 74px;
}

.main .container-map .contact button:hover {
  background-color: #43E960;
  height: 102px;
  width: 102px;
}

@media screen and (min-width: 800px) {

  .main .about-us {
    background: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)), url(../imgs/main-container-1-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 100px 120px;
  }

  .main .about-us .image {
    width: 50%;
  }

  .main .about-us .text {
    width: 50%;
  }
}
